.recover-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }
  
  h1.animate-text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;  
    line-height: 1.2;
  }
  
  ion-item {
    width: 100%;
  }
  
  ion-button {
    margin-top: 10px;
  }
  
  