<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="recover-password-container">
    <!-- Texto principal que será animado -->
    <h1 class="animate-text">Recupera tu contraseña</h1>

    <form (ngSubmit)="onSubmit()" #recoverForm="ngForm">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        <ion-note color="danger" *ngIf="email && !validateEmail(email)">
          Correo electrónico inválido
        </ion-note>
      </ion-item>

      <ion-button expand="full" type="submit" class="ion-margin-top">
        Enviar Enlace de Recuperación
      </ion-button>
    </form>

    <ion-button expand="full" color="light" class="ion-margin-top" (click)="onBack()">
      Volver al Login
    </ion-button>
  </div>
</ion-content>



