ion-content {
    --background: #f9fafb;
    .form-container {
      padding: 20px;
      margin: 20px;
      background: #ffffff;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      animation: fadeIn 0.6s ease-in-out;
    }
  }
  
  // Botón Volver
  .back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    ion-icon {
      font-size: 20px;
    }
  }
  
  // Título
  ion-header {
    ion-toolbar {
      --background: #3880ff;
      --color: #fff;
      text-align: center;
    }
  }
  
  // Estilos de los campos
  ion-item {
    --background: #f0f3f5;
    border-radius: 8px;
    margin-bottom: 15px;
    ion-label {
      font-weight: bold;
      color: #333;
    }
    ion-input, ion-select {
      color: #555;
    }
  }
  
  ion-button.upload-button {
    --background: #34a853;
    --border-radius: 8px;
    --color: #fff;
    --padding-top: 10px;
    --padding-bottom: 10px;
    margin-top: 5px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #2b8e4c;
    }
  }
  
  // Botón de enviar
  ion-button[type="submit"] {
    --background: #3880ff;
    --color: #fff;
    --border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(56, 128, 255, 0.4);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 14px rgba(56, 128, 255, 0.6);
    }
  }
  
  
  ion-toggle {
    --handle-background-checked: #3880ff;
    --handle-background: #ccc;
    --background-checked: #bbd4ff;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  ion-select {
    animation: bounceIn 0.5s;
    @keyframes bounceIn {
      from {
        transform: scale(0.8);
      }
      to {
        transform: scale(1);
      }
    }
  }
  
 
  ion-item:hover, ion-input:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  }
  
  
  ion-label {
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #3880ff;
      transform: translateX(-100%);
      transition: transform 0.3s;
    }
    &.label-floating:not(.label-floating-label-empty):after {
      transform: translateX(0);
    }
  }
  