<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Creación de Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #createAccountForm="ngForm">
    <!-- Campo del RUT -->
    <ion-item>
      <ion-label position="floating" for="rutInput">RUT (Sin puntos y con guion)</ion-label>
      <ion-input id="rutInput" [(ngModel)]="rut" name="rut" required></ion-input>
    </ion-item>

    <!-- Campo del nombre Completo -->
    <ion-item>
      <ion-label position="floating" for="fullNameInput">Nombre Completo</ion-label>
      <ion-input id="fullNameInput" [(ngModel)]="fullName" name="fullName" required></ion-input>
    </ion-item>

    <!-- Campo Rango Educativo -->
    <ion-item>
      <ion-label position="floating" for="educationLevelSelect">Rango Educativo</ion-label>
      <ion-select id="educationLevelSelect" [(ngModel)]="educationLevel" name="educationLevel" required>
        <ion-select-option value="basico">Básico</ion-select-option>
        <ion-select-option value="media">Media</ion-select-option>
        <ion-select-option value="superior">Superior</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo de la fecha de Nacimiento -->
    <ion-item>
      <ion-label position="floating" for="birthDateInput">Fecha de Nacimiento</ion-label>
      <ion-input 
        id="birthDateInput"
        type="date"
        [(ngModel)]="birthDate"
        name="birthDate"
        required>
      </ion-input>
    </ion-item>

    <!-- Campo del correo Electrónico -->
    <ion-item>
      <ion-label position="floating" for="emailInput">Correo Electrónico</ion-label>
      <ion-input
        id="emailInput"
        type="email"
        [(ngModel)]="email"
        name="email"
        (ngModelChange)="validateEmail()"
        required>
      </ion-input>
      <ion-note color="danger" *ngIf="email && !emailValid">Por favor, ingrese un correo electrónico válido</ion-note>
    </ion-item>

    <!-- Campo de la contraseña -->
    <ion-item>
      <ion-label position="floating" for="passwordInput">Contraseña</ion-label>
      <ion-input 
        id="passwordInput"
        type="password"
        [(ngModel)]="password"
        name="password"
        required>
      </ion-input>
    </ion-item>

    <!-- Campo para confirmar la Contraseña -->
    <ion-item>
      <ion-label position="floating" for="confirmPasswordInput">Confirmar Contraseña</ion-label>
      <ion-input 
        id="confirmPasswordInput"
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required>
      </ion-input>
    </ion-item>

    <ion-note color="danger" *ngIf="password && confirmPassword && password !== confirmPassword">
      Las contraseñas no coinciden
    </ion-note>

    <ion-button expand="full" type="submit" class="ion-margin-top">Crear Cuenta</ion-button>
    <ion-button expand="full" color="light" class="ion-margin-top" (click)="goToLogin()">Volver al inicio</ion-button>
  </form>
</ion-content>
