<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Revalidar/Renovar TNE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #revalidarForm="ngForm" class="form-container">
    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input [(ngModel)]="rut" name="rut" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="fullName" name="fullName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Comuna</ion-label>
      <ion-input [(ngModel)]="comuna" name="comuna" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Establecimiento</ion-label>
      <ion-input [(ngModel)]="establecimiento" name="establecimiento" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de Teléfono</ion-label>
      <ion-input type="tel" [(ngModel)]="telefono" name="telefono" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nivel Educacional</ion-label>
      <ion-select [(ngModel)]="nivelEducacional" name="nivelEducacional" required>
        <ion-select-option value="basica">Básica</ion-select-option>
        <ion-select-option value="media">Media</ion-select-option>
        <ion-select-option value="superior">Superior</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Foto del CARNET (Ambos lados)</ion-label>
      <ion-button expand="full" (click)="uploadImage('dni')">Cargar Imagen</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Certificado Alumno Regular</ion-label>
      <ion-button expand="full" (click)="uploadImage('certificado')">Cargar Imagen</ion-button>
    </ion-item>

    <ion-button expand="full" type="submit" color="primary">Enviar</ion-button>
  </form>
</ion-content>



